.about-header {
    margin: 80px 0 0 0;
    position: relative;
}

.about-header img {
    width: 100%;
}

.about-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.about-container {
    width: 70%;
    height: 1500px;
    margin: 0 auto;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.first-part {
    width: 60%;
}

.first-part h3 {
    font-weight: bold;
    padding: 0 0 10px 0;
}

.first-part p {
    padding: 0 0 10px 0;
    color: #888;
}

.second-part {
    width: 35%;
    /* height: 90%; */
    border: 3px solid #ccc;
    position: relative;
}

.second-part div {
    width: 100%;
    height: 100%;
    top: -20px;
    left: 20px;
    position: absolute;
    overflow: hidden;
}

.second-part div img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

.second-part div img:hover {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    transform: scale(1.1);
    transition: 0.6s;
}

.section2 {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 0 0;
    height: 450px;
}

.first-part div {
    border-left: 3px solid #e6e6e6;
    padding: 0 0 0 40px;
    margin: 50px 0 0 0px;
}

@media (max-width:768px) {
    .about-header {
        margin: 30px 0 0 0;
    }

    .about-header {
        height: 200px;
    }

    .about-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-container {
        width: 95%;
        height: fit-content;
        margin: 0 auto 80px auto;
    }

    .section1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 50px 0 0 0;
    }

    .first-part {
        width: 100%;
        height: fit-content;
    }

    .second-part {
        width: 90%;
        height: 250px;
        margin: 40px 0 0 0;
    }

    .second-part div {
        top: -20px;
        left: 20px;
    }

    .section2 {
        flex-direction: column-reverse;
        margin: 50px 0 0 0;
        height: fit-content;
    }

    .first-part div {
        padding: 0 0 0 40px;
        margin: 50px 0 0 0px;
    }

}

@media (min-width:768px) and (max-width:990px) {
    .about-header {
        margin: 30px 0 0 0;
    }

    .about-header {
        height: 200px;
    }

    .about-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-container {
        width: 95%;
        height: fit-content;
        margin: 0 auto 80px auto;
    }

    .section1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 50px 0 0 0;
    }

    .first-part {
        width: 60%;
        height: fit-content;
    }

    .second-part {
        width: 32%;
        height: 300px;
        margin: 40px 0 0 0;
    }

    .second-part div {
        top: -20px;
        left: 20px;
    }

    .section2 {
        flex-direction: row;
        gap: 20px;
        margin: 50px 0 0 0;
        height: fit-content;
    }

    .first-part div {
        padding: 0 0 0 40px;
        margin: 50px 0 0 0px;
    }

}

@media (min-width:990px) and (max-width:1400px) {
    .about-header {
        margin: 65px 0 0 0;
    }

    .about-header {
        height: 200px;
    }

    .about-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-container {
        width: 95%;
        height: fit-content;
        margin: 0 auto 80px auto;
    }

    .section1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 50px 0 0 0;
    }

    .first-part {
        width: 60%;
        height: fit-content;
    }

    .second-part {
        width: 32%;
        height: 300px;
        margin: 40px 0 0 0;
    }

    .second-part div {
        top: -20px;
        left: 20px;
    }

    .section2 {
        flex-direction: row;
        gap: 20px;
        margin: 50px 0 0 0;
        height: fit-content;
    }

    .first-part div {
        padding: 0 0 0 40px;
        margin: 50px 0 0 0px;
    }

}