.shopping-cart {
    margin: 200px 0 50px 0;
}

.shopping-cart-container {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.cart-proudcts {
    width: 75%;
}

.cart-proudcts table {
    display: flex;
    flex-direction: column;
}

.cart-proudcts table tr {
    display: flex;
    /* flex-direction: column; */
    /* gap: 100px; */
    border: 1px solid #e6e6e6;
    padding: 20px 40px;
    width: fit-content;
}

table thead tr th:last-child {
    width: 140px;
    padding: 0 0 0 25px;
}

.cart-proudcts table tr th {
    display: flex;
    width: 150px;
    font-size: 18px;
}

.cart-proudcts table tr td {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 160px;
    justify-content: center;
    font-size: 18px;
}

.cart-proudcts table tr td:nth-child(4) div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-proudcts table tr td:nth-child(4) div button {
    background-color: white;
    padding: 7px 18px;
    font-size: 18px;
    border: 1px solid #e6e6e6;
    transition: 0.5s;
}

.cart-proudcts table tr td:nth-child(4) div button:hover {
    background-color: #717fe0;
    transition: 0.5s;
    color: white;
}

.cart-proudcts table tr td:nth-child(4) div span {
    background-color: #e6e6e6;
    padding: 8px 18px;
    /* width: 160px; */
    font-size: 18px;
}

.cart-product-image {
    width: 100px !important;
    /* height: 100px; */
}

.cart-product-image img {
    width: 70%;
}

.cart-total {
    width: 35%;
    padding: 30px;
    border: 1px solid #e6e6e6;
}

.total-first-raw {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0 0px 0;
    border-bottom: 3px dotted #e6e6e6;
}

.total-second-raw {
    display: flex;
    /* flex-direction: column; */

    gap: 40px;
    padding: 20px 0 35px 0;
    border-bottom: 3px dotted #e6e6e6;
}

.cart-total h6 {
    font-weight: bold;
}

.total-second-raw-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.total-second-raw-content select {
    padding: 8px 10px;
}

.total-second-raw-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.total-second-raw-content div input {
    padding: 8px 10px;
    border: 1px solid #aaaaaa62;
}

.total-second-raw-content button {
    margin: 10px 0 0 0;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.total-second-raw-content button:hover {
    color: white;
    background-color: #717fe0;
    transition: 0.3s;
}

.total-third-raw {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 0px 0;
}

.total-third-raw button {
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
    background-color: black;
    color: white;
}

.total-third-raw button:hover {
    transition: 0.3s;
    background-color: #717fe0;
}

@media (max-width: 691px) {
    .shopping-cart {
        margin: 100px 0 50px 0;
    }

    .shopping-cart-container {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cart-proudcts {
        width: 100%;
        overflow: scroll;
        border: 1px solid #e6e6e6e6;
    }

    .cart-total {
        width: 100%;
        padding: 20px;
    }

    .total-second-raw {
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 20px 0 35px 0;
        border-bottom: 3px dotted #e6e6e6;
    }

    .total-second-raw-content {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
    }

    .total-second-raw-content {
        font-size: 13px;
    }

    .total-third-raw {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0 0px 0;
    }

    .cart-proudcts table tr {
        padding: 20px 20px;
    }

    .cart-proudcts table tr th {
        font-size: 13px;
        width: 120px;
        justify-content: center;
    }

    .cart-proudcts table tr td {
        font-size: 13px;
        width: 130px;

    }
}

@media (min-width: 691px) and (max-width:990px) {
    .shopping-cart {
        margin: 100px 0 50px 0;
    }

    .shopping-cart-container {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cart-proudcts {
        width: 100%;
        overflow: scroll;
        border: 1px solid #e6e6e6e6;
    }

    .cart-total {
        width: 75%;
        margin: 0 auto;
        padding: 20px;
    }

    .total-second-raw {
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 20px 0 35px 0;
        border-bottom: 3px dotted #e6e6e6;
    }

    .total-second-raw-content {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
    }

    .total-second-raw-content {
        font-size: 13px;
    }

    .total-third-raw {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0 0px 0;
    }

    .cart-proudcts table tr {
        margin: 0 auto;
        padding: 20px 20px;
        justify-content: space-between;
        width: 100%;

    }

    .cart-proudcts table tr th {
        font-size: 15px;
        width: 120px;
        justify-content: center;
    }

    .cart-proudcts table tr td {
        font-size: 15px;
        width: 130px;

    }
}

@media (min-width: 990px) and (max-width:1200px) {
    .shopping-cart {
        margin: 100px 0 50px 0;
    }

    .shopping-cart-container {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cart-proudcts {
        width: 80%;
        margin: 0 auto;
        overflow: scroll;
        border: 1px solid #e6e6e6e6;
    }

    .cart-total {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
    }

    .cart-proudcts table tr {
        margin: 0 auto;
        padding: 20px 20px;
        justify-content: space-between;
        width: 100%;

    }

    .cart-proudcts table tr th {
        font-size: 15px;
        width: 120px;
        justify-content: center;
    }

    .cart-proudcts table tr td {
        font-size: 15px;
        width: 130px;

    }
}

@media (min-width: 1200px) and (max-width:1468px) {
    .shopping-cart {
        margin: 100px 0 50px 0;
    }

    .shopping-cart-container {
        width: 96%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cart-proudcts {
        width: 60%;
        margin: 0 auto;
        overflow: scroll;
        border: 1px solid #e6e6e6e6;
    }

    .cart-total {
        width: 30%;
        margin: 0 auto;
        padding: 20px;
    }

    .total-second-raw {
        gap: 10px;
    }

    .cart-proudcts table tr {
        margin: 0 auto;
        padding: 20px 20px;
        justify-content: space-between;
        width: 100%;

    }

    .cart-proudcts table tr th {
        font-size: 15px;
        width: 120px;
        justify-content: center;
    }

    .cart-proudcts table tr td {
        font-size: 15px;
        width: 130px;

    }
}