.contact-header {
    margin: 80px 0 0 0;
    position: relative;
}

.contact-header img {
    width: 100%;
}

.contact-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.contact-container {
    width: 70%;
    margin: 100px auto 100px auto;
    display: flex;
}

.contact-form1,
.contact-form2 {
    width: 50%;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form1-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 60px 0;
}

.contact-form1-content input {
    border: 1px solid #e6e6e6;
    padding: 12px 10px;
}

.contact-form1-content textarea {
    border: 1px solid #e6e6e6;
    padding: 12px 10px;
}

.contact-form1-content button {
    border: 1px solid #e6e6e6;
    padding: 10px 0px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    transition: 0.3s;
}

.contact-form1-content button:hover {
    background-color: #717fe0;
    transition: 0.3s;
}

.contact-form2-content {
    width: 60%;
    margin: auto auto;
    padding: 70px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form2-content div div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-form2-content i {
    color: #616161;
}

.contact-form2-content h5 {
    color: #616161;
}

.contact-form2-content p {
    color: #888;
}

@media (max-width:768px) {
    .contact-header {
        margin: 30px 0 0 0;
        height: 200px;
    }

    .contact-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-container {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .contact-form1,
    .contact-form2 {
        width: 100%;
        border: 1px solid #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 768px) and (max-width: 992px) {
    .contact-header {
        margin: 30px 0 0 0;
        height: 200px;
    }

    .contact-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contact-form1,
    .contact-form2 {
        width: 90%;
        border: 1px solid #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .contact-header {
        margin: 75px 0 0 0;
        height: 200px;
    }

    .contact-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-container {
        width: 90%;
        gap: 20px;
    }

}