.blog {
    margin: 80px 0 50px 0;
}

.blog-header {
    position: relative;
}

.blog-header h1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.blog-header img {
    width: 100%;
}

.blog-container {
    width: 70%;
    /* height: 500px; */
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.first-column {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}

.each-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.img-div {
    width: 100%;
    overflow: hidden;
}

.each-card img {
    width: 100%;
    /* height: 100%; */
    transition: 0.5s;
}

.each-card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.each-card-date {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.815);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.each-card-date :first-child {
    font-size: 30px;
    font-weight: bold;
}

.each-card-date :last-child {
    font-size: 14px;
}

.each-card-content {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-card-content h2 {
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.each-card-content h2:hover {
    color: #007bff;
    transition: 0.5s;
}

.each-card-content p {
    color: #888;
}

.each-card-content div {
    display: flex;
    justify-content: space-between;
}

.each-card-content div span span {
    border-right: 1px solid #888;
    padding: 0 10px;
    font-size: 14px;
}

.each-card-content div span:nth-child(3) {
    border-right: 0px solid #888;
    /* padding: 0 0 0 10px; */
}

.each-card-content div a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.each-card-content div a:hover {
    color: #007bff;
}

/* ================ */

.second-column {
    width: 24%;
}

.search-div {
    width: 100%;
    margin: auto;
}

.search-div input {
    width: 95%;
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}

.categories {
    padding: 50px 0 0 0;
}

.categories h4 {
    font-weight: bold;
    padding: 0px 0 20px 0;
}

.categories ul {
    padding: 0;
}

.categories ul li {
    color: #888;
    list-style-type: none;
    border-top: 1px solid #e6e6e6;
}

.categories ul a {
    color: #007bff;
    transition: 0.3s;
    text-decoration: none;
}

.categories ul a li:hover {
    color: #007bff;
    transition: 0.3s;
}

.categories ul li:last-child {
    padding: 10px 0 10px 0;
    color: #888;
    list-style-type: none;
    border-bottom: 1px solid #e6e6e6;
}

.Featured-Products {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Featured-Products h4 {
    font-weight: bold;
}

.Featured-Products-Card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.Featured-Products-Card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    /* background-color: #7180e09f; */
    transition: 0.3s;
    cursor: pointer;
}

.Featured-Products-Card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background-color: #7180e09f;
    transition: 0.3s;
}

.Featured-Products-Card div p {
    transition: 0.3s;
    cursor: pointer;
}

.Featured-Products-Card div p:hover {
    color: #007bff;
    transition: 0.3s;
}

.archive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 50px 0 0 0;
}

.archive h4 {
    font-weight: bold;
}

.archive div {
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    color: #888;
    cursor: pointer;
}

.archive div:hover {
    color: #007bff;
    transition: 0.3s;
}

@media (max-width:768px) {
    .blog {
        margin: 30px 0 150px 0;
    }

    .blog-header {
        width: 100%;
        height: 200px;
    }

    .blog-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-container {
        width: 90%;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    }

    .first-column {
        width: 100%;
    }

    .each-card-content {
        margin: 25px 0;
    }

    .each-card-content h2 {
        font-size: 26px;
    }

    .each-card-content p {
        font-size: 15px;
    }

    .each-card-content div {
        flex-wrap: wrap;
        gap: 12px;
    }

    .each-card-content div span {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 0 !important;
    }

    .each-card-content div span span {
        border-right: 0;
        font-size: 13px;
    }

    .each-card-content div a {
        font-size: 15px;
    }

    /* ========= */
    .second-column {
        width: 100%;
    }

    .Featured-Products-Card {
        justify-content: start;
        gap: 20px;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .blog {
        margin: 30px 0 150px 0;
    }

    .blog-header {
        width: 100%;
        height: 200px;
    }

    .blog-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-container {
        width: 95%;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }

    .first-column {
        width: 100%;
    }

    .each-card-content {
        margin: 25px 0;
    }

    .each-card-content h2 {
        font-size: 26px;
    }

    .each-card-content p {
        font-size: 15px;
    }

    .each-card-content div {
        flex-wrap: wrap;
        gap: 12px;
    }

    .each-card-content div span {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 0 !important;
    }

    .each-card-content div span span {
        border-right: 0;
        font-size: 13px;
    }

    .each-card-content div a {
        font-size: 15px;
    }

    /* ========= */
    .second-column {
        width: 40%;
    }

    .Featured-Products-Card {
        justify-content: start;
        gap: 20px;
    }
}

@media (min-width:990px) and (max-width:1200px) {
    .blog {
        margin: 60px 0 150px 0;
    }

    .blog-header {
        width: 100%;
        height: 200px;
    }

    .blog-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-container {
        width: 95%;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }

    .first-column {
        width: 100%;
    }

    .each-card-content {
        margin: 25px 0;
    }

    .each-card-content h2 {
        font-size: 26px;
    }

    .each-card-content p {
        font-size: 15px;
    }

    .each-card-content div {
        flex-wrap: wrap;
        gap: 12px;
    }

    .each-card-content div span {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        padding: 0 !important;
    }

    .each-card-content div span span {
        border-right: 0;
        font-size: 13px;
    }

    .each-card-content div a {
        font-size: 15px;
    }

    /* ========= */
    .second-column {
        width: 40%;
    }

    .Featured-Products-Card {
        justify-content: start;
        gap: 20px;
    }
}

@media (min-width:1200px) {
    .blog {
        margin: 80px 0 150px 0;
    }
}